################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libraries/
/.vs/
/obj/Debug
/bin/Debug

*.suo
*.csproj.user
*.csproj.CoreCompileInputs.cache
