# Rules in this file were initially inferred by Visual Studio IntelliCode from the F:\Repos\Arduino\RaspPiBoard\RaspPiBoardTest\ codebase based on best match to current usage at 15.11.2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]


[*.py]
indent_style = space
end_of_line = lf
charset = utf-8